@font-face {
  font-family: "Katex";
  src: url(./assets/fonts/katex-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Katex";
  src: url(./assets/fonts/katex-bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Katex";
  src: url(./assets/fonts/katex-italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Katex";
  src: url(./assets/fonts/katex-bolditalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Katex", serif;
  color: white;
  background-color: black;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hoverable:hover {
  cursor: grab;
}

.hoverable:active {
  cursor: grabbing;
  border: 1px solid #fff;
}

button {
  all: unset;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.4rem;
}
